body {
    background: #f4f5f8;
    color: #222;
}

.hero-section {
    background: linear-gradient(135deg,#0d6efd,#0a58ca);
    color: white;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.card {
    border: none;
    transition: 0.3s;
}



.card-title {
    min-height: 3rem;
}

.btn-warning {
    font-weight: 600;
}

footer {
    font-size: .95rem;
}

.form-label {
    font-weight: 600;
}

.product-img {
    transition: .3s;
}

.product-img:hover {
    transform: scale(1.05);
}